body {
    background-color: #f8f9fa;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.navbar-brand {
    font-weight: bold;
}

h1 {
    color: #007bff;
}

#add-company-btn {
    transition: all 0.3s ease;
}

#add-company-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0,0,0,.1);
}

.list-group-item {
    transition: all 0.3s ease;
    border-left: 5px solid #007bff;
}

.list-group-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0,0,0,.1);
}